:root {
    --branco-pricipal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3C92FA;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-pricipal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;    
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-family: 'Inter';
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-pricipal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em; 
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-pricipal);
    border-radius: 5px;
}

.container__aviso {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    color: var(--cinza-secundario);
}

.secundario {
    align-items: center;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-pricipal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    font-weight: 400;
    font-size: 16px;
    color: var(--cinza-secundario);

}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-pricipal);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item {
    font-size: 32px;
    color: var(--branco-pricipal);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 2em;
}

.lista__link a {
    font-size: 14px;
    color: var(--branco-pricipal);
    text-decoration: none;
    margin-left: 1em;   
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

.rodape__texto {
    font-size: 14px;
    color: var(--cinza-secundario);
    text-align: center;
    margin: 2em 0 3em 0;
}

@media screen and (max-width: 480px) {
    body {
        width: 940px;
        margin: 0 auto;
        font-size: 22px;
        font-weight: 400;
    }

    .container__caixa {
        margin: 0 1em;
    }

    .container__titulo {
        font-size: 60px;
    }

    .container__botao {
        font-size: 40px;
    }

    .container__aviso {
        font-size: 25px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        margin: 2em 2em;
    }

    .dispositivos__lista {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 720px) {
    body {
        width: 940px;
        margin: 0 auto;
        font-size: 22px;
        font-weight: 400;
    }

    .container {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        margin: 2em 2em;
    }
    .dispositivos__lista {
        display: flex;
        flex-direction: column;
    }
}
