Scrum - a arte de fazer o dobro - Jeff Sutherland.pdf
MicrosoftTeams-video (1).mp4
Documentos/
Desafio 1/
/Alura/Certificados
prototipo.pdf
/Alura/JavaScript-Introducao/Aula
*.pdf
/Alura/JavaScript-para-web-Crie-Paginas-Dinamicas/Aula
/Alura/JavaScript-Manipulando-DOM/Aula
/Alura/REACT/DesenvolvendoComJavaScript/Aula
