html {
    background-color: rgba(244, 241, 235, 0.95);
}

body {
    font-family: sans-serif, 'Josefin Sans';
    background-color: rgba(248, 249, 250, 1);
}

.cabecalho {
    margin-bottom: 4.6rem;
}

.nav-link:hover {
    background-color: rgba(11, 172, 204, 0.7);
    border-radius: 10px;
    font-weight: 600;
}

.navbar-nav {
    text-align: center;
}

.navbar__icone {
    width: 30px;
    height: 24px;
}

#ola {
    /* margin-top: 7%; */
    text-align: center;
    padding-top: 1rem;
}

.container__secao {
    border: 2px solid rgba(11, 172, 204, 0.7);
    border-radius: 10px;
    background-color: rgba(244, 241, 235, 0.95);
    margin-bottom: .6rem;
}

.container__secao:nth-child(4) {
    border: 2px solid rgba(11, 172, 204, 0.7);
    border-radius: 10px 10px 0 0;
    background-color: rgba(244, 241, 235, 0.95);
    margin-bottom: 0;
}

.container__titulo {
    margin: 1rem 0 0 0;
}

.borda-cor-especial {
    border-color:rgba(11, 172, 204, 0.7); 
}

.card-largura {
    max-width: 18rem;   
}

.card-posicao-imagem {
    object-fit: cover;
    height: 200px;
}

.botao-cor-especial {
    background-color: rgba(11, 172, 204, 0.7);
    color: #fefefe;
}

.card-title{
    font-weight: 700;
}

.card-text {
    font-weight: 300;
}

.rodape {
    background-color: rgba(244, 241, 235, 0.95);
}

.rodape__texto {
    font-family: Verdana, sans-serif;
    margin: 1rem 0;
}

@media screen and (max-width: 992px) {
    .navbar-brand__icone {
        display: none;
    }
    
}