.rodapepe {
    background-color: #6278F7;
    color: #FFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodapepe ul li {
    display: inline-block;
    margin-right: 32px;
}

.rodapepe section {
    margin: 1rem;
}


@media screen and (min-width: 800px) {
    .rodapepe {
        padding: 80px;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .rodapepe ul li {
        display: inline-block;
        margin-right: 32px;
    }
    
    .rodapepe ul li:last-child {
        margin-right: 0;
    }

}